name: BDD Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: dragonwell
          java-version: '21'
          
      - name: Run Cucumber tests
        run: cd cucumber-spring-demo && mvn clean test -U -C
